In [1]:
import pandas as pd

# Création d'un dataset des employés
data = {
    'Nom': ['John', 'Anna', 'Peter', 'Linda', 'James'],
    'Age': [28, 34, 45, 23, 37],
    'Département': ['IT', 'RH', 'Finance', 'Marketing', 'Logistique'],
    'Salaire': [50000, 60000, 80000, 45000, 55000],
    'Date_d_Embauche': ['2015-08-01', '2016-07-15', '2010-03-25', '2018-11-12', '2012-05-30']
}

# Conversion du dictionnaire en DataFrame
df = pd.DataFrame(data)

# Affichage du DataFrame
print(df)

# Sauvegarde du DataFrame sous forme de fichier CSV
df.to_csv('employes.csv', index=False)

     Nom  Age Département  Salaire Date_d_Embauche
0   John   28          IT    50000      2015-08-01
1   Anna   34          RH    60000      2016-07-15
2  Peter   45     Finance    80000      2010-03-25
3  Linda   23   Marketing    45000      2018-11-12
4  James   37  Logistique    55000      2012-05-30

In [2]:
import pandas as pd

# Chargement du dataset à partir du fichier CSV
df = pd.read_csv('employes.csv')

# Affichage du DataFrame
print(df)

# Calcul de l'ancienneté pour chaque employé
df['Date_d_Embauche'] = pd.to_datetime(df['Date_d_Embauche'])
df['Ancienneté'] = (pd.to_datetime('today') - df['Date_d_Embauche']).dt.days // 365

# Affichage du DataFrame avec l'ancienneté
print(df)

# Calcul du salaire moyen par département
salaire_moyen_departement = df.groupby('Département')['Salaire'].mean()
print(salaire_moyen_departement)

     Nom  Age Département  Salaire Date_d_Embauche
0   John   28          IT    50000      2015-08-01
1   Anna   34          RH    60000      2016-07-15
2  Peter   45     Finance    80000      2010-03-25
3  Linda   23   Marketing    45000      2018-11-12
4  James   37  Logistique    55000      2012-05-30
     Nom  Age Département  Salaire Date_d_Embauche  Ancienneté
0   John   28          IT    50000      2015-08-01           8
1   Anna   34          RH    60000      2016-07-15           7
2  Peter   45     Finance    80000      2010-03-25          14
3  Linda   23   Marketing    45000      2018-11-12           5
4  James   37  Logistique    55000      2012-05-30          12
Département
Finance       80000
IT            50000
Logistique    55000
Marketing     45000
RH            60000
Name: Salaire, dtype: int64